# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
.vscode/
.nb-gradle/
*.swp
*.bak
*.tmp
*.sql
*.log

# Angular
.angular/

# OS
.DS_Store
Thumbs.db
